html {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><circle cx="16" cy="16" r="8" fill="teal" style="mix-blend-mode: difference"/></svg>'), auto;
}

.check-c i{
    font-size: 2rem;
}

.p-0{
    translate: 0 5px  ;
}
.check-c i{
    text-decoration: none;
    color:black;
}
.check-c i:hover{
    color: green;
}
#green{
    color: green;
}
.btn-light{
    background-color:#28728f;
}