<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/styles.css"%}>
    <link rel="stylesheet" href={% static "css/bootstrap.min.css"%}>
    <link rel="stylesheet" href={% static "css/bootstrap-icons.css"%}>
    
    <script src="{% static "js/bootstrap.bundle.min.js" %}" defer></script>
    
    <title>{% block title %}Chase Goals{% endblock  %}</title>
</head>
<body>
    <div class="m-3">
        {% block content %}{% endblock %}
    </div>
</body>
</html>