{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="m-2">
    <h1>Chase goals!</h1>
    <a class="btn btn-primary" href="{% url 'add goal' %}">Add</a>
</div>

<div id="goals-root">
    
</div>
{% endblock %}

{% block scripts %}
<script type="text/babel">
    'use strict';
    
    const { useState, Fragment } = React;
    
    {% include "components/GoalItem.js" %}
    
    function GoalsList() {
        const initialGoals = JSON.parse('{{ goals_list|safe }}');
        const [goals, setGoals] = useState(initialGoals);

        const refreshGoals = async () => {
            const response = await fetch('/goals/');
            const data = await response.json();
            setGoals(data);
        };

        return (
            <div>
                {goals.map(goal => (
                    <GoalItem 
                        key={goal.id_goal} 
                        goal={goal} 
                        onUpdate={refreshGoals}
                    />
                ))}
            </div>
        );
    }

    ReactDOM.render(
        <GoalsList />,
        document.getElementById('goals-root')
    );
</script>
{% endblock %}
